.popup__input {
  margin-bottom: 25px;
  padding: 0;
  width: 100%;
  height: 27px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 860px) {
  .popup__input {
    margin-bottom: 28px;
  }
}
