.profile__button-plus {
  min-width: 150px;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0;
  border-radius: 2px;
  box-sizing: border-box;
  transition: 0.7s;
  cursor: pointer;
}

.profile__button-plus:hover {
  opacity: 0.6;
}

/* @media screen and (min-width: 980px) and(max-width: 1279px) { */
@media screen and (max-width: 1280px) {
  .profile__button-plus {
    width: 282px;
  }
}

/* @media screen and (max-width: 320px) {
  .profile__button-plus {
    width: 282px;
  }
} */
