.gallery__cart-button {
  margin: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: 0.7s;
  cursor: pointer;
}

.gallery__cart-button:hover {
  opacity: 0.6;
}

.gallery__cart-button:active {
  /* background: #000000; */
}
