.gallery__cart-button {
  margin: 0;
  width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg) no-repeat center transparent;
  border: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

.gallery__cart-button:hover {
  opacity: 0.6;
}
