.profile__button {
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 24px;
  height: 24px;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
